<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body class="container">

<header>
    <%- include('./partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1><%= header %></h1>
        <p><%= message %></p>
    </div>
</main>

<footer>
    <%- include('./partials/footer'); %>
</footer>

</body>
</html>
<i>

    записывается к логопеду в детскую поликлинику, будет долго на надо дождать, 
    сильно жалуется, не говорит, что занимается платно, и в конце концов логопед может прикрепить на бесплатной основе (но может это быть дс )
</i>
